.favorites-container {
  padding-top: 120px;
  padding-bottom: 101px;
}

.favorites-title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}
.favorites-text {
  text-align: center;
  margin-bottom: 40px;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.favorites-list-item {
  width: calc((100% - 64px) / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 16px solid #ffe550;
  border-radius: 197px;
  height: 397px;
  background: #fefefe;
}

.favorites-list-item:hover {
  border-color: #bbf330;
}
