.footer {
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
    background: #fefefe;
    background-image: url(/images/fruitfooter.png);
    background-repeat: no-repeat;
    background-position: left 53px top 129px;
        background-size: calc(100% - 69px) calc(100% - 129px);
        max-width: 1211px;
        
}
.footer-logo-nav-subscribe {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    

}
.footer-nav-list {
    display: flex;
    gap: 28px;
    margin-right: 320px;
    padding-top: 18px;
    
}
.footer-logo-nav-subscribe > img {
    margin-left: 21px;
    width: 66px;
    height: 52px;
}
.footer-nav-list .footer-a {
    color: #2C2C2C;
    font-weight: 400;
    font-size: 14px;
}

.footer-input {
    border: 0.85px solid #FFE550;
    border-radius: 30px;
    width:279px; 
    height: 42px;
    padding: 12px;
    

}
.footer-text {
    font-weight: 400;
    font-size: 12px;
}
#emailForm>input::placeholder {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #505050;
    
}
.only-input-btn {
    display: flex;
    gap: 13px;
    margin-top: 12px;
        margin-bottom: 12px;
}
.only-input-btn > button {
    background-color: #FFFFFF;
    border: 0.85px solid #7EB101;
    border-radius: 30px;
    width: 103px;
    height: 42px;
    text-align: center;

}
.footer-span {
    text-decoration: underline;
    color: #7eb101;
}
.footer-last-div {
    display: flex;
    justify-content: space-between;
    padding: 80px 16px 100px;
}
.footer-last-div-list {
    display: flex;
    gap: 20px;
    
    
}
.footer-last-div-list .footer-text {
    color: #7eb101;
    text-decoration: underline;
}