
.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    color: #2c2c2c;
    width: 502px;
    margin-bottom: 28px;
}
.hero-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2c2c2c;
    width: 511px;
    margin-bottom: 40px;
}
.hero-container {
    display: flex;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 68px;
    
    
}
.hero-text-container {
    padding-top: 145px;
    padding-right: 143px;
}
.hero-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 580px;
    border-radius: 100%;
    border: 26px solid #FFE550;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color:#FFE450;
}